{% extends "::base.html.twig" %}

{% block title %}AppBundle:ConversationController:conversationGet{% endblock %}

{% block body %}
<h1>Welcome to the ConversationController:conversationGet page</h1>
{% endblock %}
