{% extends "::base.html.twig" %}

{% block title %}AppBundle:ConversationController:conversationPost{% endblock %}

{% block body %}
<h1>Welcome to the ConversationController:conversationPost page</h1>
{% endblock %}
